/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;500;600&display=swap");

:root {
  --bg: #1f1d36;
  --nav: rgb(63, 51, 81);
  --nose: #e9a6a6;
  --bg-balls: #e9a6a680;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e4eaef;
}

html {
  cursor: none;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

/* cursor */
.cursor-ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 15000;
  border: 1px solid rgba(0, 0, 0, 0.527);
}

.cursor,
.cursor-others {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.342);
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 9000;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}

.cursor {
  border: 2px solid rgba(255, 255, 255, 0.795);
}

.cursor-2,
.cursor-3,
.cursor-4 {
  transform: translate(-50%, -50%);
}

.cursor-2 {
  width: 20px;
  height: 20px;
  transition: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cursor-3 {
  width: 10px;
  height: 10px;
  transition: 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cursor-4 {
  width: 5px;
  height: 5px;
  transition: 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* header */
.header {
  padding: 20px 0;
  position: relative;
  z-index: 1000;
}

.header__title {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-family: "Grenze Gotisch", cursive;
  font-weight: 600;
}

/* main */
.main-circle-svg-1,
.main-circle-svg-2 {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 50;
}

.main-circle-svg-1 {
  bottom: 0;
  left: 0;
  transform: translate(100px, 80px) scale(15);
}

.main-circle-svg-2 {
  top: 0;
  right: 0;
  transform: translate(200px, 20px) scale(15);
}

.projects-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding: 15px;
  position: relative;
  z-index: 1000;
  border-radius: 5px;
}

.projects__item {
  width: 100%;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.26);
  background-color: #32304b;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.projects__img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: none;
  object-position: center;
  /*  object-fit: cover; */
  object-position: top;
}

.projects__img:hover {
  filter: brightness(0.6);
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* nav */
.navigation {
  width: 300px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1d36cc;
  backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  z-index: 10000;
}

.navigation__ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navigation__a {
  cursor: none;
}

.navigation__a i {
  font-size: 1.6rem;
  color: #fff;
  transition: 0.4s;
}

.navigation__a i:hover {
  transform: scale(0.9);
  color: #e0e0e2;
}

/* modal */
.modal {
  width: 100%;
  height: 100%;
  background: #1f1d36;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(10px);
  border: 3px solid #fff;
  color: rgb(201, 198, 198);
  border-radius: 50%;
}

.modal-range {
  min-width: 220px;
  height: 50px;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #32304ba4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  backdrop-filter: blur(5px);
  opacity: 0.5;
  transition: 0.5s;
}

.modal-range:hover {
  opacity: 1;
}

.modal__range-number {
  color: #fff;
  font-size: 1.2rem;
}

.modal__range {
  accent-color: #fff;
  cursor: none;
}

.modal-container {
  width: 80%;
  height: 90%;
  border-radius: 5px;
  overflow-y: scroll;
  display: grid;
  place-items: center;
}

.modal-container::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.modal-container::-webkit-scrollbar-thumb {
  background-color: #e4eaef;
  height: 50px;
  border-radius: 5px;
}

.modal__img {
  width: 50%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: none;
}

.modal-active .modal__loader {
  display: none;
  transform: scale(1.5);
}

@media (max-width: 1024px) {
  html {
    cursor: auto;
  }

  .cursor,
  .cursor-ball,
  .cursor-2,
  .cursor-3,
  .cursor-4 {
    display: none;
  }

  .modal-container {
    width: 100%;
  }

  .modal-container::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 480px) {
  body {
    padding-bottom: 70px;
  }
  .header {
    padding: 0;
  }
  .main-circle-svg-1,
  .main-circle-svg-2 {
    transform: scale(6);
  }

  .projects-container {
    justify-content: center;
  }

  .projects__item {
    height: 180px;
  }

  .projects__img:hover {
    filter: brightness(1);
  }
  .loader {
    transform: scale(1);
  }
  .navigation {
    width: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
  }
  .modal-close {
    top: 10px;
    right: 5px;
  }
  .modal-active .modal__loader {
    display: none;
    transform: scale(1.5);
  }
  .modal-range {
    bottom: 20px;
  }
  .modal-container {
    height: 100%;
    border-radius: 0;
  }
  .modal__img {
    width: 50%;
  }
}
